.stripe-footer {
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}

.stripe-footer span {
  cursor: pointer;
  color: #222; /* blackish */
  text-decoration: none;
}

.stripe-footer span:hover {
  text-decoration: underline;
}
